/***** user popup *****/
.modal-body{
    flex: inherit;
}
.modal-content{
    background:#FFFFFE;
    padding: 1.2rem 4rem; 
    cursor: pointer;
    min-height: 95vh;
}
.modal-backdrop{
    z-index: 1;
}
.modal-header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    grid-column-gap:20px;
    padding: 0rem;
    border-bottom:none ;
}
.name h1,
.email p{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}
.email p{
    font-size: 18px;
    font-weight: 400;
}
.modal .modal-body,
.modal .modal-footer{
   display: flex;
   flex-direction: column;
   padding: 0;
   border-top: none;
}
.modal-body label{
   font-weight: 500;
}
.modal-body input{
    text-align: left;
    padding-left: 10px;
}
.modal-body input[type="password"]{
    border: none;
}
.modal-body .input-group{
    border: 1px solid #ced4da;
}
.modal-body #button-sign{
    padding: 10px 0;
    margin-right: 10px;
    color: #a2a4a7;
}
.modal-body .form-check-input:checked{  
    background-color: var(--dark_blue);
    border-color: var(--dark_blue);
}
.modal-body .sign-in{
    width: 100%;
}
.modal-footer .line p{
    width: 40%;
    height: 1px;
    background:#a2a4a7;
    margin: 0;
}
.modal-footer .btn{
    width: 95%;
    color: var(--dark_blue);
    background: transparent;
    border: 1px solid var(--dark_blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-footer .btn .img-div{
    width: 10%;
    margin: 0 12px;
}
.modal-footer .btn .img-div img{
    width: 100%;
    object-fit: contain;
}
.modal-footer .btn p{
    width: 90%;
    text-align: justify;
}
/****** silders *****/
.achievers_slide,
.inst_slider,
.hackathon_slide{
    padding-top: 6rem !important; 
}
.achievers_slide .slides img,
.hackathon_slide .slides img{
    width: 12rem;
}
.achievers_slide .slick-list,
.inst_slider .slick-list,
.hackathon_slide .slick-list {
 padding-bottom: 5rem;
}
.inst_slider .slides img{
    width: 10rem;
}
/****** testimonials ******/
.testimonial{
    width: 100%;
    background:var(--bg_blue);
}
.testimonial .test_main{
    height:100%;
    gap: 3rem;
}
.testimonial .test_box{
    width: 40%;
    padding: 1.5rem ;
    background: #d5d9ec;
    border: 0.25px solid #12162900;
    box-shadow: 0px 4px 86px rgba(0, 0, 0, 0.096);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.testimonial .test_box:after{
    content: "\22";
    font-family: "fontawesome";
    text-align: center;
    font-size:64px;
    font-weight: 600;
    color:var(--dark_blue);
    position: absolute;
    top: -40px;
    right: 2%;
}
.testimonial .test_details{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    margin-bottom: 1rem;
}
.testimonial .test_details .img_box{
    width: 30%;
    padding: 0;
    border-radius:50% ;
}
.testimonial .test_details .img_box img{
  width: 100%;
  object-fit: cover;
  background:var(--dark_blue);
  border-radius:50%;
}
.testimonial .test_details .content{
    width: 70%;
}
.testimonial .test_details .content h3{
    font-size: 1.1rem;
    text-align: justify;
    margin: 0;
}
.testimonial .test_details .content p{
    font-size: 14px;
    margin-bottom:0;
    text-align: justify;
}
.testimonial .test_about p{
  text-align: justify;
  font-size: 13px;
  margin: 0;
}
/***** Footer *****/
footer{
    background: var(--dark_blue);
    color: var(--theam_blue);
    margin-top: 12rem;
}
footer .apply-container{
    display: flex;
    flex-direction: row;
    margin: auto !important;
    width:fit-content !important;
    flex-wrap: wrap;
    transform: translateY(-50%);

}
.apply-box{
   width: 50%;
   padding: 2rem;
   display: flex;
   grid-row-gap:20px ;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   background:var(--theam_blue);
   color: var(--dark_blue);
}
.apply-box button{
    width: fit-content;
    background: var(--dark_blue);
    color: white;
}
.apply-box button i{
   margin-left: 12px;
}
.apply-box h2{
    text-align: left;
    font-size: 2rem;
    line-height: 2.2rem;
    white-space: wrap;
}
.enroll-box{
    background: #171b2e;
    color: white; 
}
.enroll-box button{
    background:var(--theam_blue);
    color: var(--dark_blue);
}
footer .footer-list{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    position: static !important;
}
.footer-title{
    grid-row-gap:12px;
}
.footer-title .logo{
    width:8rem;
    display: inline-block;
}
.footer-content p{
    width: 15rem;
}
footer h5{
    color: #FFFFFE;
    font-size: 18px;
    margin-bottom: 2rem;
}
footer li {
    list-style:none;
}
footer li a{
    font-size: 14px;
    text-decoration: none;
    color: var(--theam_blue);
}
.social-icon a{
   border: 1px solid var(--theam_blue);
   border-radius: 50%;
   color: var(--theam_blue);
   background: transparent;
   transition: all .3s linear;
   width: 48px;
   height: 48px;
   padding: 12px 0;
   color: #FFFFFE;
}
.social-icon a i{
    font-size: 18px;
}
.social-icon a:hover{
    background: var(--theam_blue);
    color:var(--dark_blue);
}
footer input[type="email"],
footer input[type="email"]:focus,
footer input[type="email"]:hover{
    background: transparent;
    border: 1px solid var(--theam_blue);
    color: #FFFE;
    outline: none;
    padding: 0;
    text-align: left;
    padding-left: 10px;
}
footer input[type="email"]::placeholder{
    color: rgba(255, 255, 255, 0.61);
}
footer .input-group button{
    padding: 8px;
}
footer .copy-write a{
    text-decoration: none;
    color:#FFFFFE;
}
 
@media (max-width: 1024px) { 
        .modal{
            margin-top: 12px;
        }
        footer .apply-container{
            transform: translate(10px,-15%);
        }
 } 
 @media (max-width: 992px){

    .achievers_slide .slides img,
    .hackathon_slide .slides img{
        width: 100%;
    }
    footer{
        margin-top: 4rem;
    } 
    footer .apply-container{
        transform: inherit;
        padding: 4rem 0;
    }
   
 }
 @media (max-width: 768px) {   
    .testimonial .test_box{
        width: 45%;
    }
    footer{
        overflow-x: hidden;
    }
    footer .apply-container{
        flex-direction: column;
        height: auto;
        width: 100% !important;
        justify-content: center;
        align-items: center;
        grid-row-gap: 12px;
    }
    .apply-box{
        width: 95%;
        grid-row-gap:40px;
        padding: 2rem 20px;
        align-items: center;
    }
    .apply-box h2{
        text-align: center;
    }
 }
 @media (max-width: 576px) { 
    footer h5{
      font-size: 16px;
    }
    .modal-content{
        width: 90%;
        padding: 1rem;
        margin: auto;
    }
    .modal-footer{
        margin-top: 12px;
    }
    .modal-content a{
        font-size: 12px;
    }
    .modal-footer .btn p,
    .modal-body .sign-in{
        font-size: small;
    }
    .modal-footer .btn,
    .modal-body .sign-in{
        width: 80%;
        justify-content: center;
        margin-bottom: 12px;
        padding: 0.45rem 0.75rem;
    }
    .modal-footer .btn p{
        width: auto;
    }
    .name h1, .email p{
        font-size: 18px;
    }
    .testimonial .test_box{
        width: 70%;
        justify-content: center;
    }
    .testimonial .test_details{
      flex-wrap: wrap;
      justify-content: center ;
    }
    .testimonial .test_box{
      margin-bottom: 15px;
     }
    .testimonial .test_details .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social-icon a{
        width: 35px;
        height: 35px;
        padding: 3px 0;
    }
    .social-icon a i {
        font-size: 13px;
    }
    footer .logo img{
        width: 8rem;
    }
    footer .mb-4{
        margin-bottom:0.7rem !important;
    }
    footer h5{
        margin-bottom: 1rem;
    }
 }